* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
}

.nav {
  height: 15vh;
  background-color: red;
}

.text-image {
  height: 85vh;
  background-color: green;
  display: flex;
  flex-direction: column;
}

.text {
  height: 50%;
  background-color: aqua;
  margin: 10px;
  font-size: 40px;
  padding-bottom: 5px;
}

.image {
  background-color: yellow;
  height: 50%;
  margin: 10px;
  
}

.img {
  height: 100%;
}


@media (max-height: 420px) {
  .nav {
    height: 62.99px;
  }

  .text-image {
    height: 356.99px;
  }


}